 .paragraph {
    font-size: 16px;
 }

#black-purple {
	 background: linear-gradient(135deg ,#CC99CC, #660066, #000000)
}

#red-black-yellow {
    background: linear-gradient(45deg, #FFCC00, #000000, #CC0000);

}

#brown-black-red {
    background:linear-gradient(to left top,#8f71ff ,#000000 , #82acff );
}

