li {
    font-size: 18px;
    line-height: 2em;	
}

p {
    line-height: 2em;
    font-size: 1.125em;
}

<!-- Background Gradients -->

<!-- Personality-Type Background Gradient -->
#blue-black-gray {
	background: linear-gradient(135deg ,#000080, #000000, #C0C0C0);
}

<!-- Career Background Gradient -->
#green-black-red {
	background: linear-gradient(45deg ,#00FF00, #000000, #FF0000)
}

<!-- 6-word-stories Background Gradient -->
#blue-peach {
    background:linear-gradient(45deg, #539CFF ,#000000,#EEA47F);
}

<!-- Personality Mask Backgroudn Gradient -->
#black-purple {
	 background:linear-gradient(135deg ,#CC99CC, #660066, #000000)
}

<!-- Birth Order Background Gradient -->
#red-black-yellow {
    background:linear-gradient(45deg, #FFCC00, #000000, #CC0000);

}

<!-- Personality Island Background Gradient -->
#brown-black-red {
    background:linear-gradient(to left top,#8f71ff ,#000000 , #82acff );
}

<!-- End of Background Gradient-->
